{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'debug' %}
        <div id="alert-2" class="flex p-4 mb-4 bg-gray-100 rounded-lg dark:bg-gray-200" role="alert">
            <div class="ml-2 text-sm font-medium text-gray-700 dark:text-gray-800">
                {{ message }}
            </div>
            <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-gray-100 text-gray-500 rounded-lg focus:ring-2 focus:ring-gray-400 p-1.5 hover:bg-gray-200 inline-flex h-8 w-8" data-dismiss-target="#alert-2" aria-label="Close">
                <span class="sr-only">Close</span>
                <span class="iconify w-5 h-5" data-icon="material-symbols:close-rounded"></span>
            </button>
        </div>	
        {% endif %}

        {% if message.tags == 'info' %}
        <div id="alert-2" class="flex p-4 mb-4 bg-blue-100 rounded-lg dark:bg-blue-200" role="alert">
            <div class="ml-2 text-sm font-medium text-blue-700 dark:text-blue-800">
                {{ message }}
            </div>
            <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-blue-100 text-blue-500 rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 hover:bg-blue-200 inline-flex h-8 w-8" data-dismiss-target="#alert-2" aria-label="Close">
                <span class="sr-only">Close</span>
                <span class="iconify w-5 h-5" data-icon="material-symbols:close-rounded"></span>
            </button>
        </div>	
        {% endif %}

        {% if message.tags == 'success' %}
        <div id="alert-3" class="flex p-4 mb-4 bg-green-100 rounded-lg dark:bg-green-200" role="alert">
            <div class="ml-2 text-sm font-medium text-green-700 dark:text-green-800">
                {{ message }}
            </div>
            <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex h-8 w-8" data-dismiss-target="#alert-3" aria-label="Close">
                <span class="sr-only">Close</span>
                <span class="iconify w-5 h-5" data-icon="material-symbols:close-rounded"></span>
            </button>
        </div>
        {% endif %}

        {% if message.tags == 'error' %}
        <div id="alert-2" class="flex p-4 mb-4 bg-red-100 rounded-lg dark:bg-red-200" role="alert">
            <div class="ml-2 text-sm font-medium text-red-700 dark:text-red-800">
                {{ message }}
            </div>
            <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-100 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8" data-dismiss-target="#alert-2" aria-label="Close">
                <span class="sr-only">Close</span>
                <span class="iconify w-5 h-5" data-icon="material-symbols:close-rounded"></span>
            </button>
        </div>	
        {% endif %}

        {% if message.tags == 'warning' %}
        <div id="alert-2" class="flex p-4 mb-4 bg-yellow-100 rounded-lg dark:bg-yellow-200" role="alert">
            <div class="ml-2 text-sm font-medium text-yellow-700 dark:text-yellow-800">
                {{ message }}
            </div>
            <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-yellow-100 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 p-1.5 hover:bg-yellow-200 inline-flex h-8 w-8" data-dismiss-target="#alert-2" aria-label="Close">
                <span class="sr-only">Close</span>
                <span class="iconify w-5 h-5" data-icon="material-symbols:close-rounded"></span>
            </button>
        </div>	
        {% endif %}
    {% endfor %}
{% endif %}
