<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MPS Admin-Panel | {% block title %}{% endblock %}</title>

		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<script src="{% static 'js/flowbite.js' %}"></script>
		<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

		{% block head %}{% endblock %}
	</head>
	<body>
		<section class="bg-gray-50 dark:bg-gray-900">
			<div
				class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
			>
				<a
					href="#"
					class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
				>
					<img
						class="w-8 h-8 mr-2"
						src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
						alt="logo"
					/>
					MPS
				</a>
				<div
					class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
				>
					<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</section>

		{% block body %}{% endblock %}
	</body>
</html>
