{% extends "base/admin_base.html" %} {% block title %} User - Add {% endblock %}
{%block head %} {% endblock %} {% block content %}

<button
	type="button"
	onclick="history.back()"
	class="mb-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center inline-flex items-center mr-2"
>
	<span
		class="iconify mr-2 -ml-1 w-4 h-4"
		data-icon="material-symbols:arrow-back"
	></span>

	Kembali
</button>

<div class="flex-1 bg-white rounded-2xl shadow-sm p-6 mb-4">
	<h2 class="text-xl font-bold dark:text-white mb-4">Tambah Makanan Terkait</h2>
	{% include 'base/components/messages.html' %}

	<form method="POST" action="{% url 'makanan-terkait-index' makanan_id %}">
		{% csrf_token %}

		<input type="hidden" name="next" value="{{ request.GET.next }}">
		<div class="mb-2">
			<label for="makanan_terkait" class="block mb-2 text-sm font-medium text-gray-900"
				>Makanan terkait</label
			>
			<div class="flex gap-x-2">
				<input
					type="text"
					id="makanan_terkait"
					name="makanan_terkait"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
					placeholder="Pecel sayur"
					required=""
					list="list_makanan_terkait"
				/>

				<datalist id="list_makanan_terkait">
					{% for makanan in makanans %}
					<option value="{{ makanan.id }}">{{ makanan.nama }}</option>
					{% endfor %}
				</datalist>
			</div>
		</div>
		<div class="mb-2">
			<label for="berat" class="block text-sm font-medium text-gray-900 mb-2"
				>Berat</label
			>

			<div class="flex gap-x-2 items-center">
				<input
					type="number"
					step="0.01"
					id="berat"
					name="berat"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
					placeholder="1"
					value=''
				/>

				<select
					id="satuan"
					name="satuan"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				>
					<option selected="" value=''>---</option>
					{% for satuan_berat in satuan_berats %}
					<option value="{{ satuan_berat.id }}">{{ satuan_berat.nama }}</option>
					{% endfor %}
				</select>
				<p class="text-xs ml-2 text-red-600">
					<span class="">*Optional</span>
				</p>
			</div>

		</div>
		<button
			type="submit"
			class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center inline-flex items-center mr-2"
		>
			<span
				class="iconify mr-2 -ml-1 w-4 h-4"
				data-icon="material-symbols:add"
			></span>
			Tambah Makanan Terkait
		</button>
	</form>
</div>

{% endblock %} {% block body %}{% endblock %}
