<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MPS Admin-Panel | {% block title %}{% endblock %}</title>

		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<script src="{% static 'js/flowbite.js' %}"></script>
		<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

		{% block head %}{% endblock %}
	</head>
	<body>
		{% if user.is_authenticated %}

		<div class="bg-gray-200 min-h-screen max-h-screen overflow-hidden">
			{% include 'base/components/navbar.html' %}

			<div class="flex">
				{% include 'base/components/sidebar.html' %}

				<div id="content" class="p-4 pb-14 max-h-screen w-full overflow-y-auto">
					{% block content %}{% endblock %} {% include
					'base/components/footer.html' %}
				</div>
			</div>
		</div>

		{% else %} {% load static %}

		<a href="login">
			<img
				src="{% static 'public/images/kind-sir-can-you-please-login.jpg' %}"
				class="h-auto mx-auto justify-center object-center"
				alt="kind-sir-can-you-please-login"
			/>
		</a>

		{% endif %} {% block body %}{% endblock %}
	</body>
</html>
