{% extends "base/admin_base.html" %} {% block title %} Bahan Makanan - Add {%endblock %} 
{%block head %} {% comment %} filepondcss {% endcomment %}
<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
<link
	href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
	rel="stylesheet"
/>

{% endblock %} {% block content %}

<button
	type="button"
	onclick="history.back()"
	class="mb-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center inline-flex items-center mr-2"
>
	<span
		class="iconify mr-2 -ml-1 w-4 h-4"
		data-icon="material-symbols:arrow-back"
	></span>

	Kembali
</button>

{% comment %} Keterangan umum makanan {% endcomment %}

<div class="flex-1 bg-white rounded-2xl shadow-sm p-6 mb-4">
	<h2 class="text-xl font-bold dark:text-white mb-4">Bahan Makanan</h2>

	<div class="mb-2">
		<label for="nama" class="block mb-2 text-sm font-medium text-gray-900"
			>Nama</label
		>
		<input
			type="text"
			id="nama"
			nama="nama"
			class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
			placeholder="Swedish Fish"
			required=""
		/>
	</div>
	<div class="mb-2">
		<label for="porsi" class="block mb-2 text-sm font-medium text-gray-900"
			>Porsi</label
		>
		<div class="flex gap-x-2">
			<input
				type="number"
				id="porsi"
				nama="porsi"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="1"
				required=""
			/>

			<select
				id="besar_porsi"
				nama="besar_porsi"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
			>
				<option selected="">---</option>
				{% for satuan_porsi in satuan_porsis %}
				<option value="{{ satuan_porsi.id }}">{{ satuan_porsi.nama }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="mb-2">
		<label
			for="berat_porsi"
			class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
			>Berat porsi</label
		>
		<div class="flex">
			<input
				type="number"
				step="0.01"
				id="berat_porsi"
				nama="berat_porsi"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="100"
				required=""
			/>
			<span
				class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-r-0 border-gray-300"
			>
				gram
			</span>
		</div>
	</div>
	<div class="mb-2">
		<label for="kelompok" class="block mb-2 text-sm font-medium text-gray-900"
			>Kelompok</label
		>
		<input
			type="text"
			id="kelompok"
			nama="kelompok"
			class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
			placeholder="1"
		/>
		<p class="mt-2 text-sm text-red-600 dark:text-red-500">
			<span class="font-medium">*Optional</span>
		</p>
	</div>
	<div class="mb-2">
		<label for="sumber" class="block mb-2 text-sm font-medium text-gray-900"
			>Sumber</label
		>
		<input
			type="text"
			id="sumber"
			nama="sumber"
			class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
			placeholder="Penelitian sendiri"
		/>
		<p class="mt-2 text-sm text-red-600 dark:text-red-500">
			<span class="font-medium">*Optional</span>
		</p>
	</div>
</div>

{% comment %} Kandungan gizi makanan {% endcomment %}

<div class="flex-1 bg-white rounded-2xl shadow-sm p-6 mb-4">
	<h2 class="text-xl font-bold dark:text-white mb-4">Kandungan Gizi</h2>

	<div class="mb-2">
		<label
			for="energi"
			class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
			>Kandungan Energi</label
		>
		<div class="flex">
			<input
				type="number"
				step="0.01"
				id="energi"
				nama="energi"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="100"
				required=""
			/>
			<span
				class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-r-0 border-gray-300"
			>
				kcal
			</span>
		</div>
	</div>

	<div class="mb-2">
		<label
			for="protein"
			class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
			>Protein</label
		>
		<div class="flex">
			<input
				type="number"
				step="0.01"
				id="protein"
				nama="protein"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="100"
				required=""
			/>
			<span
				class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-r-0 border-gray-300"
			>
				gram
			</span>
		</div>
	</div>

	<div class="mb-2">
		<label
			for="karbo"
			class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
			>Karbohidrat</label
		>
		<div class="flex">
			<input
				type="number"
				step="0.01"
				id="karbo"
				nama="karbo"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="100"
				required=""
			/>
			<span
				class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-r-0 border-gray-300"
			>
				gram
			</span>
		</div>
	</div>

	<div class="mb-2">
		<label
			for="lemak"
			class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
			>Lemak</label
		>
		<div class="flex">
			<input
				type="number"
				step="0.01"
				id="lemak"
				nama="lemak"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="100"
				required=""
			/>
			<span
				class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-r-0 border-gray-300"
			>
				gram
			</span>
		</div>
	</div>
</div>

{% comment %} TODO: Buat fungsi tambah makanan terkait disini {% endcomment %}

{% comment %} Foto makanan {% endcomment %}

<div class="flex-1 bg-white rounded-2xl shadow-sm p-6 mb-4">
	<h2 class="text-xl font-bold dark:text-white mb-2">Foto Bahan Makanan</h2>

	{% comment %} input file {% endcomment %}

	<input type="file" name="foto_makanan[]" id="foto_makanan" multiple />

	<input type="hidden" id="filesLength" value="0">

</div>

<button
	type="submit"
	id="submitBtn"
	class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-base px-6 py-3.5 inline-flex items-center mr-2 mb-4 w-full justify-center"
>
	<span
		class="iconify mr-2 -ml-1 w-4 h-4"
		data-icon="material-symbols:add"
	></span>
	Tambah Bahan Makanan
</button>


{% endblock %} {% block body %}

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>

<script>

	// ============== Filepond
	document.addEventListener("DOMContentLoaded", function () {
		FilePond.registerPlugin(FilePondPluginImagePreview);

		var files = []
		// Get a reference to the file input element
		const inputElement = document.querySelector('input[type="file"]');

		// Create a FilePond instance
		const pond = FilePond.create(inputElement, {
			onaddfile: (err, fileItem) => {
				files.push(fileItem.file)
				console.log(files.length)
				
			},
			onremovefile: (err, fileItem) => {
				let indexItem = files.indexOf(fileItem.file)
				if (indexItem > -1){
					files.splice(indexItem, 1)
				}
				console.log(files.length)
			}
		});

		var formData = new FormData();

		$(document).on('click', '#submitBtn', function(e) {
			formData.append('files_lenght', files.length)
			formData.append('nama', $('#nama').val())
			formData.append('porsi', $('#porsi').val())
			formData.append('besar_porsi', $('#besar_porsi').val())
			formData.append('berat_porsi', $('#berat_porsi').val())
			formData.append('kelompok', $('#kelompok').val())
			formData.append('sumber', $('#sumber').val())
			formData.append('energi', $('#energi').val())
			formData.append('lemak', $('#lemak').val())
			formData.append('karbo', $('#karbo').val())
			formData.append('protein', $('#protein').val())

			for (var i = 0; i < files.length; i++){
				formData.append('foto_makanan_'+i, files[i])
			}
			formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
			
			$.ajax({
				type: 'POST',
				url: '{% url "bahan-makanan-add" %}',
				data: formData,
				cache: false,
				processData: false,
				contentType: false,
				enctype: 'multipart/form-data',
				success: function (){
					alert('Bahan makanan berhasil ditambahkan')
					window.location.href='{% url "bahan-makanan-index" %}';
				},
				error: function (xhr, errmsg, err){
					console.log(xhr.status + ":" + xhr.responseText)
				}
			});
		});

	});
	
</script>

{% endblock %}
