{% extends "base/admin_base.html" %} {% block title %} User - Add {% endblock %}
{%block head %} {% endblock %} {% block content %}

<button
	type="button"
	onclick="history.back()"
	class="mb-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center inline-flex items-center mr-2"
>
	<span
		class="iconify mr-2 -ml-1 w-4 h-4"
		data-icon="material-symbols:arrow-back"
	></span>

	Kembali
</button>

<div class="flex-1 bg-white rounded-2xl shadow-sm p-6 mb-4">
	<h2 class="text-xl font-bold dark:text-white mb-4">Tambah Pengguna</h2>
	{% include 'base/components/messages.html' %}
	<form method="POST" action="#">
		{% csrf_token %}
		<div class="flex gap-x-2 mb-6">
			<div class="">
				<label for="first_name" class="block mb-2 text-sm font-medium text-gray-900"
					>Nama depan</label
				>
				<input
					type="text"
					id="first_name"
					name="first_name"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
					placeholder="Korg stone"
					required=""
				/>
			</div>
			<div class="">
				<label for="last_name" class="block mb-2 text-sm font-medium text-gray-900"
					>Nama belakang</label
				>
				<input
					type="text"
					id="last_name"
					name="last_name"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
					placeholder="Korg stone"
					required=""
				/>
			</div>
		</div>
		<div class="mb-6">
			<label for="email" class="block mb-2 text-sm font-medium text-gray-900"
				>Email</label
			>
			<input
				type="email"
				id="email"
				name="email"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="korg@gmai.com"
				required=""
			/>
		</div>
		<div class="mb-6">
			<label for="username" class="block mb-2 text-sm font-medium text-gray-900"
				>Username</label
			>
			<input
				type="text"
				id="username"
				name="username"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="Korgstone"
				required=""
			/>
		</div>
		<div class="mb-6">
			<label for="password" class="block mb-2 text-sm font-medium text-gray-900"
				>Password</label
			>
			<input
				type="password"
				id="password"
				name="password"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				required=""
			/>
		</div>
		<div class="flex items-start mb-6">
			<div class="flex items-center h-5">
				<input
					id="is_staff"
					name="is_staff"
					type="checkbox"
					value="True"
					class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300"
				/>
			</div>
			<label for="is_staff" class="ml-2 text-sm font-medium text-gray-900"
				>Admin</label
			>
		</div>
		<button
			type="submit"
			class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center inline-flex items-center mr-2"
		>
			<span
				class="iconify mr-2 -ml-1 w-4 h-4"
				data-icon="material-symbols:add"
			></span>
			Tambah Pengguna
		</button>
	</form>
</div>

{% endblock %} {% block body %}{% endblock %}
