{% extends "base/admin_base.html" %} {% block title %} Menu Makanan - Detail {% endblock %}
{%block head %} {% comment %} filepondcss {% endcomment %}
<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
<link
	href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
	rel="stylesheet"
/>

{% endblock %} {% block content %}

<button
	type="button"
	onclick="history.back()"
	class="mb-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center inline-flex items-center mr-2"
>
	<span
		class="iconify mr-2 -ml-1 w-4 h-4"
		data-icon="material-symbols:arrow-back"
	></span>

	Kembali
</button>

{% comment %} Keterangan umum makanan {% endcomment %}

<div class="flex-1 bg-white rounded-2xl shadow-sm p-6 mb-4">
	<h2 class="text-xl font-bold dark:text-white mb-4">Menu Makanan</h2>
	{% include 'base/components/messages.html' %}
	
	<form action="{% url 'menu-makanan-edit' makanan.id %}" method="POST">
		{% csrf_token %}
		<input type="hidden" name="part" value="keterangan">
		<div class="mb-2">
			<label for="nama" class="block mb-2 text-sm font-medium text-gray-900"
				>Nama</label
			>
			<input
				type="text"
				id="nama"
				name="nama"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="Swedish Fish"
				required=""
				value="{{ makanan.nama }}"
			/>
		</div>
		<div class="mb-2">
			<label for="porsi" class="block mb-2 text-sm font-medium text-gray-900"
				>Porsi</label
			>
			<div class="flex gap-x-2">
				<input
					type="number"
					id="porsi"
					name="porsi"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
					placeholder="1"
					required=""
					value="{{ makanan.porsi }}"
				/>
				<select
					id="besar_porsi"
					name="besar_porsi"
					autocomplete="off"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				>
				{% for satuan_porsi in satuan_porsis %}
					<option value="{{ satuan_porsi.id }}"  {% if satuan_porsi.id == makanan.besar_porsi.id %} selected {% endif %}>{{ satuan_porsi.nama }}</option>
				{% endfor %}
				</select>
			</div>
		</div>
		<div class="mb-2">
			<label
				for="berat_porsi"
				class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
				>Berat porsi</label
			>
			<div class="flex">
				<input
					type="number"
					id="berat_porsi"
					name="berat_porsi"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block p-2.5"
					placeholder="100"
					required=""
					value="{{ makanan.berat_porsi }}"
				/>
				<span
					class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-r-0 border-gray-300"
				>
					gram
				</span>
			</div>
		</div>
		<div class="mb-2">
			<label for="kelompok" class="block mb-2 text-sm font-medium text-gray-900"
				>Kelompok</label
			>
			<input
				type="text"
				id="kelompok"
				name="kelompok"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="1"
				value="{{ makanan.kelompok }}"
			/>

		</div>
		<div class="mb-2">
			<label for="sumber" class="block mb-2 text-sm font-medium text-gray-900"
				>Sumber</label
			>
			<input
				type="text"
				id="sumber"
				name="sumber"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="Penelitian sendiri"
				value="{{ makanan.sumber }}"
			/>
		</div>

		<button
			type="submit"
			class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center inline-flex items-center mr-2"
		>
			<span
				class="iconify mr-2 -ml-1 w-4 h-4"
				data-icon="material-symbols:save-outline"
			></span>

			Simpan Perubahan
		</button>
	</form>

</div>

{% comment %} Kandungan gizi makanan {% endcomment %}

<div class="flex-1 bg-white rounded-2xl shadow-sm p-6 mb-4">
	<h2 class="text-xl font-bold dark:text-white mb-4">Kandungan Gizi</h2>
	{% include 'base/components/messages.html' %}
	
	<form action="{% url 'menu-makanan-edit' makanan.id %}" method="POST">
		{% csrf_token %}

		<input type="hidden" name="part" value="kandungan">
		<div class="mb-2">
			<label
				for="energi"
				class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
				>Kandungan Energi</label
			>
			<div class="flex">
				<input
					type="number"
					step="0.01"
					id="energi"
					name="energi"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block p-2.5"
					placeholder="100"
					required=""
					value="{{ makanan.energi }}"
				/>
				<span
					class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-r-0 border-gray-300"
				>
					kcal
				</span>
			</div>
		</div>

		<div class="mb-2">
			<label
				for="protein"
				class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
				>Protein</label
			>
			<div class="flex">
				<input
					type="number"
					step="0.01"
					id="protein"
					name="protein"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block p-2.5"
					placeholder="100"
					required=""
					value="{{ makanan.protein }}"
				/>
				<span
					class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-r-0 border-gray-300"
				>
					gram
				</span>
			</div>
		</div>

		<div class="mb-2">
			<label
				for="karbo"
				class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
				>Karbohidrat</label
			>
			<div class="flex">
				<input
					type="number"
					step="0.01"
					id="karbo"
					name="karbo"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block p-2.5"
					placeholder="100"
					required=""
					value="{{ makanan.karbo }}"
				/>
				<span
					class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-r-0 border-gray-300"
				>
					gram
				</span>
			</div>
		</div>

		<div class="mb-2">
			<label
				for="lemak"
				class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
				>Lemak</label
			>
			<div class="flex">
				<input
					type="number"
					step="0.01"
					id="lemak"
					name="lemak"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block p-2.5"
					placeholder="100"
					required=""
					value="{{ makanan.lemak }}"
				/>
				<span
					class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-r-0 border-gray-300"
				>
					gram
				</span>
			</div>
		</div>
		
		<button
			type="submit"
			class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center inline-flex items-center mr-2"
		>
			<span
				class="iconify mr-2 -ml-1 w-4 h-4"
				data-icon="material-symbols:save-outline"
			></span>

			Simpan Perubahan
		</button>

	</form>
</div>

{% comment %} Makanan yang terkait: list yang telah ditambahkan {% endcomment %}

<div class="flex-1 bg-white rounded-2xl shadow-sm p-6 mb-4">
	<div class="flex justify-between mb-4 items-center">
		<h2 class="text-xl font-bold dark:text-white mb-2">Bahan Makanan terkait</h2>

		<a
			href="{% url 'makanan-terkait-index' makanan.id %}?next={{ request.resolver_match.url_name }}"
			class="ml-auto text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2"
		>
			<span
				class="iconify mr-2 -ml-1 w-4 h-4"
				data-icon="material-symbols:add"
			></span>
			Tambah Bahan Makanan terkait
		</a>
	</div>

	<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
		<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
			<thead
				class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
			>
				<tr>
					<th scope="col" class="py-3 px-6">Nama</th>
					<th scope="col" class="py-3 px-6">Energi</th>
					<th scope="col" class="py-3 px-6">Protein</th>
					<th scope="col" class="py-3 px-6">Lemak</th>
					<th scope="col" class="py-3 px-6">Karbohidrat</th>
					<th scope="col" class="py-3 px-6">Porsi</th>
					<th scope="col" class="py-3 px-6">Menu</th>
				</tr>
			</thead>
			<tbody>
				{% for makanan_terkait in makanan_terkaits %}

				<tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-50">
					<th
						scope="row"
						class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
					>
						<a href="{% url 'bahan-makanan-detail' makanan_terkait.bahan_makanan.id %}"> {{ makanan_terkait.bahan_makanan.nama }} </a>
					</th>
					<td class="py-4 px-6">{{ makanan_terkait.bahan_makanan.energi }} kcal</td>
					<td class="py-4 px-6">{{ makanan_terkait.bahan_makanan.protein }} g</td>
					<td class="py-4 px-6">{{ makanan_terkait.bahan_makanan.lemak }} g</td>
					<td class="py-4 px-6">{{ makanan_terkait.bahan_makanan.karbo }} g</td>
					<td class="py-4 px-6"> {{ makanan_terkait.berat }} {{ makanan_terkait.satuan.nama }}</td>
					<td class="py-4 px-6 flex gap-x-2">
						<form action="{% url 'makanan-terkait-delete' id=makanan.id makanan_terkait_id=makanan_terkait.id %}" method="POST">	
							{% csrf_token %}
							<input type="hidden" name="next" value="{{ request.resolver_match.url_name }}">						
							<button
								type="submit"
								class="py-2 px-3 text-sm font-medium text-center text-white bg-red-700 rounded-full hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 inline-flex items-center"
								onclick="return confirm('Ingin menghapus makanan terkait ini?');"
							>
								<span
									class="iconify mr-2 -ml-1 w-4 h-4"
									data-icon="material-symbols:delete-outline-sharp"
								></span>
								Delete
							</button>
						</form>
					</td>
				</tr>

				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% comment %} Foto makanan {% endcomment %}

<div class="flex-1 bg-white rounded-2xl shadow-sm p-6 mb-4">
	<h2 class="text-xl font-bold dark:text-white mb-2">Foto Menu Makanan</h2>
	{% include 'base/components/messages.html' %}

	{% comment %} input file {% endcomment %}

	<input type="file" name="foto_makanan[]" id="foto_makanan" multiple />

	<button
		type="button"
		id="addFoto"
		class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-base px-6 py-3.5 inline-flex items-center mr-2 mb-4 w-full justify-center"
	>
		<span
			class="iconify mr-2 -ml-1 w-4 h-4"
			data-icon="material-symbols:add"
		></span>
		Tambah Foto Makanan
	</button>

	{% comment %} delete file ketike edit {% endcomment %}
	<div class="grid grid-cols-3 gap-4">

		{% for makanan_foto in makanan_fotos %}
		
		<div class="relative">
			<form action="{% url 'menu-makanan-delete-foto' id=makanan.id foto_id=makanan_foto.id %}" method="POST">	
				{% csrf_token %}
				<button
					type="submit"
					onclick="return confirm('Hapus gambar ini?')"
					class="absolute p-2 bg-red-600 text-white rounded-tr-lg right-0 top-0"
				>
					<span
						class="iconify w-4 h-4"
						data-icon="material-symbols:delete-outline-sharp"
					></span>
				</button>
			</form>
			<img
				class="h-auto rounded-lg"
				src="{{ makanan_foto.foto.url }}"
				alt=""
			/>
		</div>

		{% endfor %}
	</div>
</div>

{% endblock %} {% block body %}

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>

<script>
	// ============== Filepond
	document.addEventListener("DOMContentLoaded", function () {
		FilePond.registerPlugin(FilePondPluginImagePreview);

		var files = []
		// Get a reference to the file input element
		const inputElement = document.querySelector('input[type="file"]');

		// Create a FilePond instance
		const pond = FilePond.create(inputElement, {
			onaddfile: (err, fileItem) => {
				files.push(fileItem.file)
				console.log(files.length)
				
			},
			onremovefile: (err, fileItem) => {
				let indexItem = files.indexOf(fileItem.file)
				if (indexItem > -1){
					files.splice(indexItem, 1)
				}
				console.log(files.length)
			}
		});

		var formData = new FormData();

		$(document).on('click', '#addFoto', function(e) {
			formData.append('files_lenght', files.length)
			formData.append('part', 'foto')

			for (var i = 0; i < files.length; i++){
				formData.append('foto_makanan_'+i, files[i])
			}
			formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
			
			$.ajax({
				type: 'POST',
				url: '{% url "menu-makanan-edit" makanan.id %}',
				data: formData,
				cache: false,
				processData: false,
				contentType: false,
				enctype: 'multipart/form-data',
				success: function (){
					alert('Bahan makanan berhasil ditambahkan')
					window.location.href='{% url "menu-makanan-detail" makanan.id %}';
				},
				error: function (xhr, errmsg, err){
					console.log(xhr.status + ":" + xhr.responseText)
				}
			});
		});
	});
</script>

{% endblock %}
