{% extends "base/admin_base.html" %} {% block title %} Generate Menu Diet {% endblock %}
{%block head %}

{% endblock %} {% block content %}

{% comment %} Keterangan umum makanan {% endcomment %}
<form action="{% url "generate-menu-hasil" %}" method="post">
{% csrf_token %}
<div class="flex-1 bg-white rounded-2xl shadow-sm p-6 mb-4">
	<h2 class="text-xl font-bold dark:text-white mb-4">Data Personal</h2>

	<div class="mb-2">
		<label for="berat_badan" class="block mb-2 text-sm font-medium text-gray-900"
			>Berat badan</label
		>
		<div class="flex">
			<input
				type="number"
				step="0.1"
				id="berat_badan"
				name="berat_badan"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="60"
				required=""
			/>
			<span
				class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-r-0 border-gray-300"
			>
				kg
			</span>
		</div>
	</div>
		<div class="mb-2">
		<label for="tinggi_badan" class="block mb-2 text-sm font-medium text-gray-900"
			>Tinggi badan</label
		>
		<div class="flex">
			<input
				type="number"
				step="0.1"
				id="tinggi_badan"
				name="tinggi_badan"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="160"
				required=""
			/>
			<span
				class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-r-0 border-gray-300"
			>
				cm
			</span>
		</div>
	</div>
		<div class="mb-2">
		<label for="usia" class="block mb-2 text-sm font-medium text-gray-900"
			>Usia</label
		>
		<div class="flex">
			<input
				type="number"
				id="usia"
				name="usia"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg rounded-r-none focus:ring-blue-500 focus:border-blue-500 block p-2.5"
				placeholder="60"
				required=""
			/>
			<span
				class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-r-0 border-gray-300"
			>
				tahun
			</span>
		</div>
	</div>
	<div class="mb-2">
		<label for="gender" class="block mb-2 text-sm font-medium text-gray-900"
			>Gender</label
		>
		<div class="">
			<select
				id="gender"
				name="gender"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
			>
				<option selected="">---</option>
				<option value="PE">Perempuan</option>
				<option value="LA">Laki-laki</option>
			</select>
		</div>
	</div>
	<div class="mb-2">
		<label for="nilai_tingkat_aktivitas" class="block mb-2 text-sm font-medium text-gray-900"
			>Tingkat Aktivitas</label
		>
		<div class="">
			<select
				id="nilai_tingkat_aktivitas"
				name="nilai_tingkat_aktivitas"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
			>
				<option selected="" value="">---</option>
				<option value="2">Perempuan - Berat</option>
				<option value="1.55">Perempuan - Ringan</option>
				<option value="1.3">Perempuan - Sangat Ringan</option>
				<option value="1.7">Perempuan - Sedang</option>
				<option value="">---</option>
				<option value="2">Laki-laki - Berat</option>
				<option value="1.65">Laki-laki - Ringan</option>
				<option value="1.3">Laki-laki - Sangat Ringan</option>
				<option value="1.76">Laki-laki - Sedang</option>
			</select>
		</div>
	</div>
	
</div>

{% comment %} Makanan yang terkait search dan add form {% endcomment %}

{% comment %} <div class="flex-1 bg-white rounded-2xl shadow-sm p-6 mb-4">
	<div class="flex gap-x-2">
		<label
			for="terkait"
			class="block text-sm font-medium text-gray-900 dark:text-gray-300 self-center"
			>Preferensi makanan :
		</label>
		<input
			type="text"
			id="terkait"
			list="menudancamilan"
			class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
			placeholder="Biji kopi"
			required
		/>
		<button
			type="submit"
			class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center inline-flex items-center mr-2"
		>
			<span
				class="iconify mr-2 -ml-1 w-4 h-4"
				data-icon="material-symbols:add"
			></span>
			Tambah
		</button>
	</div>

	<datalist id="menudancamilan">
		<option value="Internet Explorer"></option>
		<option value="Firefox"></option>
		<option value="Google Chrome"></option>
		<option value="Opera"></option>
		<option value="Safari"></option>
	</datalist>
</div> {% endcomment %}

{% comment %} Makanan yang terkait: list yang telah ditambahkan {% endcomment %}

{% comment %} <div class="flex-1 bg-white rounded-2xl shadow-sm p-6 mb-4">
	<h2 class="text-xl font-bold dark:text-white mb-2">Preferensi makanan</h2>

	<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
		<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
			<thead
				class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
			>
				<tr>
					<th scope="col" class="py-3 px-6">Nama</th>
					<th scope="col" class="py-3 px-6">Energi</th>
					<th scope="col" class="py-3 px-6">Protein</th>
					<th scope="col" class="py-3 px-6">Lemak</th>
					<th scope="col" class="py-3 px-6">Karbohidrat</th>
					<th scope="col" class="py-3 px-6">Porsi</th>
					<th scope="col" class="py-3 px-6">Menu</th>
				</tr>
			</thead>
			<tbody>
				{% for x in '12'|make_list %}

				<tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 hover:bg-gray-50">
					<th
						scope="row"
						class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
					>
						<a href="#">Makanan </a>
					</th>
					<td class="py-4 px-6">xxxx kcal</td>
					<td class="py-4 px-6">xx g</td>
					<td class="py-4 px-6">xx g</td>
					<td class="py-4 px-6">xx g</td>
					<td class="py-4 px-6">porsi</td>
					<td class="py-4 px-6 flex gap-x-2">
						<button
							type="button"
							class="py-2 px-3 text-sm font-medium text-center text-white bg-red-700 rounded-full hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 inline-flex items-center"
						>
							<span
								class="iconify mr-2 -ml-1 w-4 h-4"
								data-icon="material-symbols:delete-outline-sharp"
							></span>
							Delete
						</button>
					</td>
				</tr>

				{% endfor %}
			</tbody>
		</table>
	</div>
</div> {% endcomment %}

{% comment %} Kandungan gizi makanan {% endcomment %}

{% comment %} <div class="flex-1 bg-white rounded-2xl shadow-sm p-6 mb-4">
	<h2 class="text-xl font-bold dark:text-white mb-4">Goal</h2>

	<div class="mb-2">
		<div class="">
			<select
				id="goal"
				class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
			>
				<option value="otomatis" selected>Otomatis</option>
				<option value="turun">Turun Berat Badan</option>
				<option value="jaga">Jaga Berat Badan</option>
				<option value="naik">Naik Berat Badan</option>
			</select>
		</div>
		<p class="mt-2 text-sm text-red-600 dark:text-red-500">
			<span class="font-medium">*Optional</span>
		</p>
	</div>
</div> {% endcomment %}

<button
	type="submit"
	class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-base px-6 py-3.5 inline-flex items-center mr-2 mb-4 w-full justify-center"
	id="submitBtn"
>
	Buat Rekomendasi Menu Makanan
	<span class="iconify ml-2 -mr-1 w-4 h-4" data-icon="material-symbols:start"></span>
</button>

</form>


{% endblock %} 

{% block body %}

{% comment %} <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>

<script>

	document.addEventListener("DOMContentLoaded", function () {
		var formData = new FormData();

		$(document).on('click', '#submitBtn', function(e) {
			var body = {
				"berat_badan": parseFloat($('#berat_badan').val()),
				"tinggi_badan": parseFloat($('#tinggi_badan').val()),
				"gender": $('#gender').val(),
				"usia": parseInt($('#usia').val()),
				"nilai_tingkat_aktivitas": parseFloat($('#nilai_tingkat_aktivitas').val()),
				"with_detail": true,
			}

			$.ajax({
				type: 'POST',
				url: '{% url "generate-rekomendasi-menu" %}',
				data: JSON.stringify(body),
				contentType: 'application/json',
				success: function (textStatus, status){
					alert('berhasil')
					console.log(status)
					console.log(textStatus)
					// window.location.href='{% url "camilan-index" %}';
				},
				error: function (xhr, errmsg, err){
					console.log(xhr.status + ":" + xhr.responseText)
				}
			});

		});

	});
	
</script> {% endcomment %}

{% endblock %}
